html, body {
	width:100%;
}


#title {
	padding-bottom: 30px;
}

#queryBox {
	width:40%;
	display:block;
	margin: 0 auto;
	height: 50px;

	font-size: 40px;
}

#resultText {
	padding-top: 15px;

	font-size: 40px;
	color:#456A50;
}

#tokensText, #tokensEvalText {
	font-family: "Lucida Console", Monaco, monospace;
}

#object-container {
	width:40%;
	display:block;
	margin:  0 auto;
}

#object-title {
	color:#FF7F50;
	font-size: 40px;
	
}