html, body {
	width:100%;
}


.title, .title-sidebar {
	font-family: Helvetica;
	font-weight: bold;
}

.title {
	font-size: 50px;
	margin-bottom: 30px;
	width: 100%;
}

.title-sidebar {
	font-size: 40px;
	/*opacity: 0.7;*/
}

.title-math {
	color: #7C7676;
}

.title-sidebar-math {
	color: #dad8d8;
}

.title-do {
	color: #FF7F50
}
.title-sidebar-do {
	color: #ffc2b3;
}

/*.container {
	padding-left: 12.5%;
	padding-right: 12.5%;
}*/

/*.title-sidebar-math:after, .title-sidebar-do:after {
    -webkit-transition: 2s;
    transition: 0.75s;
    font-size: 0;

}

.title-sidebar-math:after {
	content: 'ath.';
}

.title-sidebar-do:after {
	content: 'o';
}

.title-sidebar:hover > .title-sidebar-math:after, .title-sidebar:hover > .title-sidebar-do:after {
	font-size: 40px;
}*/

.title-math:after {
	content: 'ath.';
    -webkit-transition: 0.75s;
    transition: 0.75s;
}

.title-do:after {
	content: 'o';
    -webkit-transition: 0.75s;
    transition: 0.75s;
}

.title:hover > .title-math:after {
	font-size: 0px;
}

.title:hover > .title-do:after {
	font-size: 0px;
}

.title:hover > .title:after {
	content: ' | 2016';
}

.queryContainer {

	width:70%;

	margin: 0 auto;
}

.textCorrection {
	font-size: 15px;
}

#correctedText {
	color: #6699CC;
}

#queryBox {
	/*margin-top:175px;*/
	width: 89.5%;
	display: block;
	margin: 0 auto;
	height: 50px;

	font-size: 40px;
	margin-bottom: 20px;
}

#resultText {
	padding-top: 15px;

	font-size: 40px;
	color:#456A50;
}

#tokensText, #tokensEvalText {
	font-family: "Lucida Console", Monaco, monospace;
}

#object-container {
	width:40%;
	display:block;
	margin:  0 auto;
}

#object-title {
	color:#FF7F50;
	font-size: 40px;
	
}