extends layout

block content
  script(src='javascripts/script.js')
  
  .queryContainer
    input.form-control(align='center', type='text')#queryBox
    i.textCorrection(hidden)
      span Interpreted as 
      span
        u#correctedText 
    h4#resultText(align='center')
    p#debugText
  //- h4#tokensText(align='center')
  //- h4#tokensEvalText(align='center')
  //- #object-container
  //-   h6#object-title(align='center')
  //-   em#object-definition

